@{
    ViewBag.Title = "FormTest";
}

<h2>FormTest</h2>
<form action="/home/FormTest" method="post">
    <label for="basicTextBox" id="basicLabel" />
    <input type="text" id="basicTextBox" name="basicInput" />
    <input type="submit" id="SubmitButton" />
</form>
